<div *ngIf="product">
<h1>{{product.name}}</h1>
<h5>{{product.company}}</h5>
<h6>${{product.price}}</h6>
<img src="{{ product.imageLink }}" alt="{{product.name}}">

<br>
<div *ngIf="product.stock>0;else OutOfStockMessage">
    {{product.stock}} in stock

    <h5 *ngIf="user.creditCardNumber.length == 0">Please Add Credit Card to your profile to buy</h5>    

    <button mat-raised-button color="primary" (click)="BuyProduct()" [disabled]="user.creditCardNumber.length == 0">Buy</button>
</div>
<ng-template #OutOfStockMessage>Item out of stock</ng-template>
</div>