.product-card {
    width: 300px;
    float: left;
    height: 200px;
    padding: 5px;
    border : solid 1px gainsboro;
  }
  
  .product-header-image {
    background-size: cover;
  }
  
  .product-image{
    max-width: 200px;;
    max-height: 200px;
    background-size: cover;
  }
  
  mat-card-title{
    height: 50px;
    overflow: hidden;
    border: solid 1px red;

  }
  mat-card-subtitle{
    height: 30px;
    overflow: hidden;
    border: solid 1px blue;

  }
  mat-card-actions{
    height: 40px;
    overflow: hidden;
    border: solid 1px green;

  }