<div *ngIf="editMode;else UserDetails">
    <form [formGroup]="UserDetailsForm" >
    <div style="width: 100%;">
        <div *ngIf="userFormErrors" color="warn">{{userFormErrors}}</div>
        <mat-list>
            <mat-list-item>
                <div style="width: 100%;">
                    <mat-form-field><input matInput placeholder="User Id" type="text" formControlName="userId"></mat-form-field>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div  style="width: 100%;">
                    <mat-form-field><input matInput placeholder="First Name" type="text" formControlName="firstName"></mat-form-field>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div  style="width: 100%;">
                    <mat-form-field><input matInput placeholder="Last Name" type="text" formControlName="lastName"></mat-form-field>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div  style="width: 100%;">
                    <mat-form-field><input matInput placeholder="Email Address" type="text" formControlName="emailAddress"></mat-form-field>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div  style="width: 100%;">
                    <mat-form-field><input matInput placeholder="Phone Number" type="text" formControlName="phoneNumber"></mat-form-field>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div  style="width: 100%;">
                    <mat-form-field><input matInput placeholder="Gender" type="text" formControlName="gender"></mat-form-field>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div  style="width: 100%;">
                    <mat-form-field><input matInput placeholder="Credit Card Number" type="text" formControlName="creditCardNumber"></mat-form-field>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div  style="width: 100%;">
                    <button mat-stroked-button  (click)="UpdateUserDetails();">Save</button>
                    <button mat-stroked-button  (click)="ExitEditMode();">Cancel</button>
                </div>
            </mat-list-item>
    
        </mat-list>

    </div>    
    </form>


</div>
<ng-template #UserDetails>








<div style="width: 100%;" *ngIf="user">
    <h5 *ngIf="user.creditCardNumber.length < 1000" style="color:red;">
        <mat-icon color="warning">warning</mat-icon>
         Please Add Credit Card
    </h5>


    <mat-list>
        <mat-list-item>
            <div style="width: 100%;">
                <div class="UserDetailsLabel">First Name</div>
                <div class="UserDetailsContent">{{ user.firstName }}</div>
                <div style="clear: both;"></div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div  style="width: 100%;">
                <div class="UserDetailsLabel">Last Name</div>
                <div class="UserDetailsContent">{{ user.lastName }}</div>
                <div style="clear: both;"></div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div  style="width: 100%;">
                <div class="UserDetailsLabel">Email Address</div>
                <div class="UserDetailsContent">{{ user.emailAddress }}</div>
                <div style="clear: both;"></div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div  style="width: 100%;">
                <div class="UserDetailsLabel">Phone Number</div>
                <div class="UserDetailsContent">{{ user.phoneNumber }}</div>
                <div style="clear: both;"></div>        
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div  style="width: 100%;">
                <div class="UserDetailsLabel">Gender</div>
                <div class="UserDetailsContent">{{ user.gender }}</div>
                <div style="clear: both;"></div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div  style="width: 100%;">
                <div class="UserDetailsLabel">Credit Card Number</div>
                <div class="UserDetailsContent">{{ user.creditCardNumber }}</div>
                <div style="clear: both;"></div>
            </div>
        </mat-list-item>
        <mat-list-item>
            <div  style="width: 100%;">
                <div class="UserDetailsLabel"></div>
                <div class="UserDetailsContent"><button mat-stroked-button  (click)="EditUserDetails();">Edit</button></div>
                <div style="clear: both;"></div>
            </div>
        </mat-list-item>

    </mat-list>

    
</div>    
</ng-template>